@import url("https://fonts.googleapis.com/css?family=Roboto");
#root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --color-heading: #000000;
  --color-border: #004e99;
  --color-button: #269bfb;
  --color-something: #44a0ea;
  --color-offwhite: #d9d9d9;
  --color-button-text: #ffffff;
  --main-font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
label,
button,
input,
img {
  font-family: var(--main-font-family);
}
li,
ol {
  padding: 2px !important;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-left: 3px;
  font-size: 30px;
  font-weight: bold;
  color: var(--color-heading);
}

h2 {
  font-size: 18px;
  margin-left: 3px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  margin-left: 3px;
  font-weight: 600;
}

p {
  font-size: 14px;
  font-weight: 200;
}

body {
  background-color: #eef3f7;
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Ensure that items can wrap if there's not enough space */
}

/* Media query for screens narrower than 768px */
@media (max-width: 768px) {
  .content {
    flex-direction: column; /* Stack the containers on top of each other */
    align-items: center; /* Center the containers */
  }
}
.form-container {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important; /* Subtle shadow */
  margin: 10px;
  padding: 10px;
  font-family: var(--main-font-family);
  color: var(--color-heading);
  max-width: 600px;
  background-color: #fff;
  align-self: top;
  border: 2px dashed var(--color-border);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  block-size: fit-content;
}

label,
input {
  display: block;
  margin-bottom: 10px;
  margin-left: 15px;
  font-size: 24px;
  font-weight: 200;
  font-family: var(--main-font-family);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}

input[type="number"] {
  padding: 5px;
  font-size: 20px;
  margin-left: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50%;
}

#wallDiv,
#tableDiv {
  display: none;
  background-color: #f2f2f2;
  padding: 10px;
  text-align: left;
}

#wallDiv input,
#tableDiv input {
  border-color: #000000;
  border-width: 2px;
  border-bottom-width: 4px;
}

.resizable-image {
  /* max-width: 30%; */
  height: auto;
}
#wallDiv .resizable-image {
  display: block;
}

/* ----------BUTTON STUFF------------ */
.button-container {
  justify-content: space-between;
  margin-top: 20px;
}

button:hover {
  background-color: var(--color-border);
}

.top-button {
  width: 100px;
  margin: 3px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.submit-button-container {
  text-align: center;
}

input[type="submit"],
button {
  font-size: 24px !important;
  margin: 10px !important;
  padding: 10px 20px !important;
  background-color: var(--color-button-text) !important;
  color: var(--color-heading) !important;
  border: 2px solid var(--color-something) !important;
  border-radius: 20px !important;
  cursor: pointer !important;
  display: inline-block !important; /* Make the input a block element */
  transform: scale(1.05); /* Slightly enlarge on hover */

  background: linear-gradient(
    145deg,
    var(--color-button),
    var(---color-heading)
  );
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2) !important;
  transition: all 0.1s ease !important;
  font-weight: 600;
}

input[type="submit"]:hover {
  background-color: var(--color-offwhite) !important;
  color: var(--color-button-text);
}
button:hover,
input[type="submit"]:hover {
  background: linear-gradient(
    to right,
    var(--color-something),
    var(--color-button)
  ) !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2) !important;
  color: var(--color-button-text) !important;
}

#deskQR {
  /*border-image: url("./assets/QR_desk_arrows.png") 30;*/
  border-image: url("./assets/QR_desk_arrows.png") 200 180 / 80px;
  width: 400px !important;
  height: 400px !important;
  visibility: hidden;
}
#wallQR {
  border-image: url("./assets/QR_wall_arrows.png") 200 180 / 80px;
  width: 400px !important;
  height: 400px !important;
  visibility: hidden;
}

#dropdown-navlink,
#dropdown-navlin:hover {
  color: black !important;
  width: fit-content;
  background-color: white !important;
  border: 2px !important;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  border-color: #000000;
}
@media (max-width: 768px) {
  #dropdown-content {
    width: 90%;
    padding: 10px;
  }
}
.dropdown-item {
  width: 100px !important;
}
